@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;
@using Microsoft.AspNetCore.Components.Authorization;
@using TodoListBlazorWasm.Pages;

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" IconType="IconType.FontAwesome" ErrorIcon="fa fa-times"
    InfoIcon="fa fa-info" SuccessIcon="fa fa-check" WarningIcon="fa fa-exclamation" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello, @context.User.Identity.Name
                    <a href="/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login" class="ml-md-auto">Login</a>
                </NotAuthorized>
            </AuthorizeView>


            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <Login></Login>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
